*.htaccess
#database.php
/uploads
application/config/database.php
temp/*
sync/http___sikawan.jasatirta2.co.id_V_API2_Apipegawai_get_data_pegawai_for_grc
manriskmigrasi/~$13.16 REGISTER RISK TIRTA RAHARJA UNIT KERJA WILAYAH 1-4.xlsx
manriskmigrasi/1.REGISTER RISK TIRTA RAHARJA UNIT KERJA SATUAN PENGAWASAN INTERN.xlsx
manriskmigrasi/2. REGISTER RISK TIRTA RAHARJA UNIT KERJA PENELITIAN DAN PENGEMBANGAN.xlsx
manriskmigrasi/3. REGISTER RISK TIRTA RAHARJA UNIT KERJA TEKNOLOGI DAN INFORMASI.xlsx
manriskmigrasi/4. REGISTER RISK TIRTA RAHARJA UNIT KERJA PERENCANAAN TEKNIK.xlsx
manriskmigrasi/5. REGISTER RISK TIRTA RAHARJA UNIT KERJA PRODUKSI.xlsx
manriskmigrasi/6. REGISTER RISK TIRTA RAHARJA UNIT KERJA DISTRIBUSI DAN ATR.xlsx
manriskmigrasi/7.REGISTER RISK TIRTA RAHARJA UNIT KERJA KEUANGAN.xlsx
manriskmigrasi/8. REGISTER RISK TIRTA RAHARJA UNIT KERJA SUMBER DAYA MANUSIA - Administrasi.xlsx
manriskmigrasi/8. REGISTER RISK TIRTA RAHARJA UNIT KERJA SUMBER DAYA MANUSIA - K3.xlsx
manriskmigrasi/8. REGISTER RISK TIRTA RAHARJA UNIT KERJA SUMBER DAYA MANUSIA - Pengembangan.xlsx
manriskmigrasi/9. REGISTER RISK TIRTA RAHARJA UNIT KERJA UMUM - ASET.xlsx
manriskmigrasi/10. REGISTER RISK TIRTA RAHARJA UNIT KERJA UMUM - RUMAH TANGGA.xlsx
manriskmigrasi/11. REGISTER RISK TIRTA RAHARJA UNIT KERJA UMUM - LOGISTIK.xlsx
manriskmigrasi/12. REGISTER RISK TIRTA RAHARJA UNIT KERJA MUTU LAYANAN.xlsx
manriskmigrasi/13.16 REGISTER RISK TIRTA RAHARJA UNIT KERJA WILAYAH 1-4.xlsx
manriskmigrasi/17. REGISTER RISK TIRTA RAHARJA UNIT KERJA SEKPER - ULP.xlsx
manriskmigrasi/18. REGISTER RISK TIRTA RAHARJA UNIT KERJA SEKPER - HUMAS KESEKRETARIATAN.xlsx
manriskmigrasi/19. REGISTER RISK TIRTA RAHARJA UNIT KERJA SEKPER - HUKUM & GCG.xlsx
manriskmigrasi/20.REGISTER RISK TIRTA RAHARJA UNIT KERJA  LABORATORIUM.xlsx
manriskmigrasi/rekapitulasi tingkat risiko.xlsx
manriskmigrasi/MANRISK TR 2023/~$1.REGISTER RISK TIRTA RAHARJA UNIT KERJA SATUAN PENGAWASAN INTERN.xlsx
manriskmigrasi/MANRISK TR 2023/~$2. REGISTER RISK TIRTA RAHARJA UNIT KERJA PENELITIAN DAN PENGEMBANGAN.xlsx
manriskmigrasi/MANRISK TR 2023/~$3. REGISTER RISK TIRTA RAHARJA UNIT KERJA TEKNOLOGI DAN INFORMASI.xlsx
manriskmigrasi/MANRISK TR 2023/~$4. REGISTER RISK TIRTA RAHARJA UNIT KERJA PERENCANAAN TEKNIK.xlsx
manriskmigrasi/MANRISK TR 2023/~$5. REGISTER RISK TIRTA RAHARJA UNIT KERJA PRODUKSI.xlsx
manriskmigrasi/MANRISK TR 2023/~$6. REGISTER RISK TIRTA RAHARJA UNIT KERJA DISTRIBUSI DAN ATR.xlsx
manriskmigrasi/MANRISK TR 2023/~$7.REGISTER RISK TIRTA RAHARJA UNIT KERJA KEUANGAN.xlsx
manriskmigrasi/MANRISK TR 2023/~$8. REGISTER RISK TIRTA RAHARJA UNIT KERJA SUMBER DAYA MANUSIA.xlsx
manriskmigrasi/MANRISK TR 2023/~$9. REGISTER RISK TIRTA RAHARJA UNIT KERJA UMUM - ASET.xlsx
manriskmigrasi/MANRISK TR 2023/~$10. REGISTER RISK TIRTA RAHARJA UNIT KERJA UMUM - RUMAH TANGGA.xlsx
manriskmigrasi/MANRISK TR 2023/~$11. REGISTER RISK TIRTA RAHARJA UNIT KERJA UMUM - LOGISTIK.xlsx
manriskmigrasi/MANRISK TR 2023/~$12. REGISTER RISK TIRTA RAHARJA UNIT KERJA MUTU LAYANAN.xlsx
manriskmigrasi/MANRISK TR 2023/~$13.16 REGISTER RISK TIRTA RAHARJA UNIT KERJA WILAYAH 1-4.xlsx
manriskmigrasi/MANRISK TR 2023/~$17. REGISTER RISK TIRTA RAHARJA UNIT KERJA SEKPER - ULP.xlsx
manriskmigrasi/MANRISK TR 2023/~$18. REGISTER RISK TIRTA RAHARJA UNIT KERJA SEKPER - HUMAS KESEKRETARIATAN.xlsx
manriskmigrasi/MANRISK TR 2023/~$19. REGISTER RISK TIRTA RAHARJA UNIT KERJA SEKPER - HUKUM & GCG.xlsx
manriskmigrasi/MANRISK TR 2023/~$20.REGISTER RISK TIRTA RAHARJA UNIT KERJA  LABORATORIUM.xlsx
10 November 2023.sql
14 November 2023.sql
24 November 2023 local.sql
24 November 2023 server.sql
24 November 2023.sql
25 November 2023 local.sql
28 November 2023 local.sql
4122023.sql
7 November 2023.sql
8 November 2023.sql
alter.sql
backup27june.sql
db.sql
db1.sql
db2.sql
db_local.sql
db_server.sql
pemeriksaan_detail_files.sql
rekap_consulting.sql
spi.sql
spi_library.sql
spn.sql
sql2.sql
table dokumen eksternal.sql
